# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

# Ignore all test and documentation with "export-ignore".
/docs              export-ignore
/tests             export-ignore
/.github           export-ignore
/.editorconfig     export-ignore
/.gitattributes    export-ignore
/.gitignore        export-ignore
/.scrutinizer.yaml export-ignore
/.travis.yaml      export-ignore
/phpunit.xml.dist  export-ignore
